<html>

<head>
</head>
<title>Phantom Brief</title>

<body>
    Ghost Picker
    <hr />

    <form method="POST">
        <label for="first_name">First name:</label><br>
        <input type="text" id="first_name" name="first_name" value=""><br>
        <label for="last_name">Last name:</label><br>
        <input type="text" id="last_name" name="last_name" value=""><br><br>
        <select name="ghost_name_id" id="ghost_name_id">
            {% for item in ghost_names %}
            <option value="{{ item.ghost_name_id }}">{{ item.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
</body>

</html>