<html>

<head>
</head>
<title>Phantom Brief</title>

<body>
    {% if has_user %}
    <a href="/logout">logout</a>
    {% else %}
    <a href="/login">login</a>
    {% endif %}
    |
    {% if has_name %}
    <a href="/ghost-picker">Change your current Phantom name</a>
    {% else %}
    <a href="/ghost-picker">Get a Phantom name</a>
    {% endif %}
    <hr />
    <table>
        <tr>
            <th>First Name</th>
            <th>Ghost Name</th>
            <th>Last Name</th>
        </tr>
        {% for item in ghost_names %}
        <tr>
            <td>{{ item.first_name if item.first_name else "" }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.last_name if item.last_name else "" }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>